@import "../variables";
@import "../reset";
@import "../mixin";

.about-us-section{
    
    padding: 0.5rem;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    h2{
        @include title();
        @media screen and (min-width: $tablet-screen) {
            font-size: 2rem;
            
        }
    }
    p{
        font-family: $primary-font;
        padding: 1rem;
        font-size: 0.7rem;
        color: $buttonColor;
        line-height: 1.4;
        font-weight: 600;
        text-align: center;
        border-radius: 10px;
        background-color: $nav-menu-color;
        transition: all ease-in 0.5s;
        opacity: 0;
        &.active{
            opacity: 1;
        }
        @media screen and (min-width: $mobile-screen) {
            width: 95%;
            padding: 2rem;
        }
        @media screen and (min-width: $tablet-screen) {
            text-align: center;
            padding: 3rem;
            width: 90%;
            font-size: 1.6rem;
            
        
        }

        @media screen and (min-width: $desktop-screen) {
            width: 70%;
            
        }
        
    }
    a{
        display: flex;
        justify-content: center;
        width: 100%;
        button{
            @include button();
            
            padding: 1rem;
            width: 50%;
            border-radius: 30px;
            transition: all ease-in 0.6s;
            transform: translateX(200%);
            &.active{
                transform: translateX(0%);
            }
            @media screen and (min-width: $tablet-screen) {
                margin-top: 1rem;
               width: 60%;
                font-size: 1.2rem;
               padding: 1.2rem;
                
            
            }
        }
    }
    
}