@import "../variables";
@import "../reset";
@import "../mixin";


.service-section{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    font-family: $primary-font;
    padding: 1rem;

    h2{
        text-transform: uppercase;
        font-size: 1.5rem;
        text-align: center;
        @include title();
        @media screen and (min-width: $tablet-screen) {
            font-size: 2rem;
            
        }
    }
    .service-section-container{
        font-family: $primary-font;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        overflow: hidden;
        @media screen and (min-width: $mobile-screen) {
            grid-template-columns: repeat(4, 1.2fr);
            justify-content: center;
            align-items: center;
            
        }
    
    }
    
    

}

