@import "../variables";
@import "../reset";
@import "../mixin";


.service-section{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    font-family: $primary-font;
    padding: 1rem;

    h2{
        text-transform: uppercase;
        font-size: 1.5rem;
        text-align: center;
        @include title();
        @media screen and (min-width: $tablet-screen) {
            font-size: 2rem;
            
        }
    }
     
    .service-section-container{
        font-family: $primary-font;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        overflow: hidden;
        @media screen and (min-width: $mobile-screen) {
            grid-template-columns: repeat(4, 1.2fr);
            justify-content: center;
            align-items: center;
            
        }

        .service-square{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
            width: 95%;
            height: 120px;
            transition: transform 0.3s ease-in-out; /* Smooth transition */
            &:hover {
                cursor: pointer;
                
                img{
                    transition: transform ease-in 0.2s;
                    transform: scale(0.95);
                }
                
                
            }

            @media screen and (min-width: $mobile-screen) {
                height: 130px;
                width: 95%;
                padding-bottom: 0.2rem;
            }

            @media screen and (min-width: $tablet-screen) {
                
                height: 18vw;
                
            }

        
            
    
            opacity: 0; 
            transform: translateY(30px); 
            transition: opacity 1s ease, transform 0.5s ease;
            &.visible {
                opacity: 1; 
                transform: translateY(0); 
            }
    
            p{
                text-align: center;
                text-transform: uppercase;
                font-size: 0.7rem;
                color: $terc-font-color;
                z-index: 1;
                @media screen and (min-width: $tablet-screen) {
                    font-size: 0.9rem;
                }
                @media screen and (min-width: $desktop-screen) {
                    font-size: 1rem;
                
                }
            
            }
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
                object-fit: cover;
            }
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 50%; /* Adjust the height as needed */
                background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
                z-index: 0; /* Places it between the text and the image */
                @media screen and (min-width: $tablet-screen) {
                    height: 70%;;
                }
            
            }
        }
        .ligth-box-service{
            overflow-y: auto;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            @media screen and (max-width: $mobile-screen) {
                max-height: 80vh;
                justify-content: start;
                
                
            }
            .submenu{
                width: 100%;
                
                border-radius: 15px;
                border: 1px solid $title-color;
                display: flex;
                align-items: center;
                transition: transform ease-in 0.2s;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.02);
                    img{
                        
                    }
                }
                @media screen and (min-width: $tablet-screen) {
                    height: 220px;
                    
                }
                @media screen and (min-width: $desktop-screen) {
                    height: 260px;
                
                }
                img{
                    border-radius: 15px 0px 0px 15px;
                    width: 45%;
                    height: 100px;
                    @media screen and (min-width: $mobile-screen) {
                        
                        width: 100%;
                        height: 140px;
                    }
                    @media screen and (min-width: $tablet-screen) {
                        width: 100%;
                        height: 100%;
                        
                    }
                    
                }
                .submenu-div{
                    display: flex;
                    
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    h3{
                        @include title();
                        font-weight: 600;
                        text-transform: capitalize;
                        @media screen and (min-width: $tablet-screen) {
                            font-size: 1.6rem;
                            
                        }
                    }
                    p{
                        padding-left: 0.3rem;
                        text-align: start;
                        font-family: $primary-font;
                        @media screen and (min-width: $mobile-screen) {
                            text-align: center;
                            font-size: 1rem;
                            width: 90%;
                        }
                        @media screen and (min-width: $tablet-screen) {
                            font-size: 1.4rem;
                            
                        }

                    }
                }
               
            }

            h2{
                @include title();
                
            }
            .ligth-box-service-img{
                width: 100%;
                
                @media screen and (max-width: $mobile-screen) {
                    max-height: 200px;
                    
                }
                @media screen and (min-width: $mobile-screen) {
                    width: 80%;
                    
                }
               
                @media screen and (min-width: $tablet-screen) {
                    width: 60%;
                    max-height: 600px;
                    
                }
                
            }
            p{
                margin-top: 5px;
                text-align: center;
                font-size: 0.8rem;
                font-family: $primary-font;
                @media screen and (min-width: $mobile-screen) {
                    font-size: 1rem;
                }

                @media screen and (min-width: $tablet-screen) {
                    padding: 0 1rem 0 1rem;
                    width: 90%;
                    font-size: 1.3rem;
                
                }
            }
            .meat-team{
                margin-top: 15px;
                color: $title-color;
                font-weight: bold;
                @media screen and (min-width: $tablet-screen) {
                    width: 100%;
      
                 }
            }
            span{
                color: $title-color;
            }
            button{
                position: static;
                bottom: 20px;
                width: 80%;

                @media screen and (min-width: $mobile-screen) {
                    position: static;
                
                }

            }
        }
    }
    

}