@import "../variables";
@import "../reset";
@import "../mixin";

.contact-us-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1rem;
    
    h2{
        text-align: center;
        @include title();
        @media screen and (min-width: $tablet-screen) {
            font-size: 2rem;
            
        }
    }

    .contact-us-media-container{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 10px;
        div{
            display: flex;
            align-items: center;
            gap: 25px;
            transition: all ease 0.2s;
            
            &:hover{
                padding-left: 10px;
                cursor: pointer;
                transform: scale(1.01);
            }
            img{
                width: 40px;
                transform: translateX(-200%);
                &.active{
                    transform: translateX(0%);
                }
                @media screen and (min-width: $mobile-screen) {
                    width: 7%;

                }
                @media screen and (min-width: $tablet-screen) {
                    width: 4%;
                
                }
                @media screen and (min-width: $desktop-screen) {
                    width: 4%;
                
                }
            }
            p{
                font-family: $title-font;
                font-size: 0.8rem;
                

                transform: translateX(200%);
                transition: all 0.5s ease-in ;
                &.active{
                    transform: translateX(0%);
                }
                @media screen and (min-width: $mobile-screen) {
                    font-size: 1.2rem;
                    transform: translateX(250%);
                }
                @media screen and (min-width: $tablet-screen) {
                    font-size: 1.4rem;
                    transform: translateX(500%)
                
                }
            }  
        }
    }
    h3{
        align-self: center;
        @include title();
        font-weight: 600;
        @media screen and (min-width: $tablet-screen) {
            font-size: 1.5rem;
            
        
        }
    }
    .contact-us-section-adress{
        text-align: center;
        font-family: $title-font;
        font-weight: bold;
        @media screen and (min-width: $tablet-screen) {
            font-size: 1.4rem;
            
        
        }
    }
    .map{
        display: flex;
        justify-content: center;
        position: relative;
        opacity: 0%;
        transition: all ease-in 0.3s;
        &.visible{
            opacity: 100%;
        }
    }
}