
@mixin title(){
    color:$title-color;
    font-weight: 400;
    text-transform: uppercase;
}
@mixin button() {
    color: $terc-font-color;
    font-family: $primary-font;
    text-transform: uppercase;
    background: $buttonColor;
    border: 1px solid $miguel-logo-color;
}