
@mixin title(){
    color:$title-color;
    font-weight: 400;
    text-transform: uppercase;
    
}
@mixin button() {
    color: $terc-font-color;
    font-family: $primary-font;
    text-transform: uppercase;
    background: $buttonColor;
    border: none;
    transition: background-color ease-in 0.3s;

    &:hover{
        cursor: pointer;
        background-color: $buttonColorSelect;
    }
}