@import "../../css/variables";
@import "../../css/reset";
@import "../mixin";

.shedule-button{
    @include button();
    
    
    padding: 1rem;
    border-radius: 30px;
    opacity: 0;
    transform: translateX(100%); 
    transition: transform 0.5s ease, opacity 0.5s ease;

    &.visible{
        opacity: 1;
        transform: translateX(0); /* Slide into view */
        
    }
}