@import "../variables";
@import "../reset";
@import "../mixin";

footer{
    border-top: 1px solid $buttonColor;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    div{
        display: flex;
        gap: 5px;
        img{
            width: 15px;
        }
    }
    p{
        font-size: 0.8rem;
        font-family: $title-font;
        color: $title-color;
        font-weight: bolder;
    }
}