@import "../../css/variables";
@import "../../css/reset";
@import "../mixin";

.main-all-services{
    
    padding: 3rem 0rem 0.5rem 0rem;
    
    .all-service-section{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-x: hidden;
        justify-content: center;
        align-items: center;
        h1{
            @include title();
            margin-bottom: 1rem;
        }
        .all-service-div{
            display: flex;
            flex-direction: column;
            gap:10px;
            .individual-services{
                border-top: 1px solid $buttonColor;
                border-bottom: 1px solid $buttonColor;
                transform: translateX(200%);
                display: flex;
                transition: all ease-in 0.5s;
                &.active{
                    transform: translateX(0%);
                }
                
                img{
                    width: 30%;
                }
                div{
                    padding: 0.5rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h2{
                        
                        text-align: center;
                        justify-self: center;
                        @include title();
                        text-transform: capitalize;
                        font-size: 1.3rem;
                        
                    }
                    p{
                        font-family: $primary-font;
                        text-align: center;
                        font-size: 0.8rem;
                    }
                }
                
               
            }
        }
        .shedule-button{
            transform: translateX(200%);
            &.visible{
                transform: translateX(0);
            }
        }
        
        .service-full-page{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .container-arrow{
                display: flex;
                justify-content: center;
                width: 100%;
                .arrow-button{
                    top: 5px;
                    left: 10px;
                }
            }
            .principal-img{
                width: 85%;
            }
            p{
                padding: 1rem;
                text-align: center;
                font-family: $primary-font;
            }
        }
        
    }

    
}