@import "../reset";
@import "../variables";

.whats-icon{
    position: fixed;
    z-index: 99999;
    right: 15px;
    bottom: 10%;
    width: 30px;
    @media screen and (min-width: $tablet-screen) {
        width: 60px;
        
    }
}