@import "../../css/variables";
@import "../../css/reset";
@import "../mixin";

.main-all-services{
    
    padding: 3rem 0rem 0.5rem 0rem;
    min-height: 95vh;
    .all-service-section{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        justify-content: center;
        align-items: center;
        h1{
            @include title();
            font-size: 1.1rem;
            margin-bottom: 1rem;
            width: 80%;
            text-align: center;
            @media screen and (min-width: $mobile-screen) {
                font-size: 1.6rem;
               
                
            }
            @media screen and (min-width: $tablet-screen) {
                font-size: 2rem;
                
            
            }
        }
        .all-service-div{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap:10px;
            
            .individual-services{
                border-top: 1px solid $buttonColor;
                border-bottom: 1px solid $buttonColor;
                transform: translateX(200%);
                display: flex;
                transition: all ease-in 0.5s;
                &.active{
                    transform: translateX(0%);
                }
               
            
                &:hover{
                    cursor: pointer;
                    transform: scale(1.01);
                }
                img{
                    width: 40%;
                    @media screen and (min-width: $tablet-screen) {
                        width: 60%;
                        height: 300px;
                        
                    
                    }
                    @media screen and (min-width: $desktop-screen) {
                        
                        height: 300px;
                    }
                    
                }
                div{
                    padding: 0.5rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    justify-content: center;
                    align-items: center;
                    h2{
                        
                        text-align: center;
                        justify-self: center;
                        @include title();
                        text-transform: capitalize;
                        font-size: 0.9rem;
                        @media screen and (min-width: $mobile-screen) {
                            font-size: 1.3rem;
                            
                        }
                        @media screen and (min-width: $tablet-screen) {
                            font-size: 1.5rem;
                            
                        
                        }
                        @media screen and (min-width: $desktop-screen) {
                            font-size: 1.8rem;
                        }
                    }
                    p{
                        font-family: $primary-font;
                        text-align: center;
                        font-size: 0.6rem;
                        width: 95%;
                        @media screen and (min-width: $mobile-screen) {
                            font-size: 1rem;
                            
                        }
                        @media screen and (min-width: $tablet-screen) {
                            font-size: 1.2rem;
                            
                        }
                        @media screen and (min-width: $desktop-screen) {
                            font-size: 1.5rem;
                        }
                        
                    }
                    
                }
                
               
            }
        }
        .shedule-button{
            margin: 1rem 0 0.5rem 0;
            transform: translateX(200%);
            &.visible{
                transform: translateX(0);
            }
            @media screen and (min-width: $mobile-screen) {
                width: 70vw;
                
            }
        }
        
        .service-full-page{
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            
            align-items: center;
            .container-arrow{
                display: flex;
                justify-content: center;
                width: 100%;
                .arrow-button{
                    width: 15px;
                    height: 15px;
                    top: 5px;
                    left: 10px;
                    @media screen and (min-width: $mobile-screen) {
                        width: 20px;
                        height: 20px;
                        
                    }
                    @media screen and (min-width: $tablet-screen) {
                        width: 30px;
                        height: 30px;
                        
                    }
                }
            }
            .principal-img{
                width: 85%;
                
                border-radius: 10px;
                @media screen and (min-width: $tablet-screen) {
                    width: 65%;
                    height: 70vh;
                    object-fit: cover;
                    
                }
            }
            p{
                white-space-collapse: true;
                @media screen and (min-width: $mobile-screen) {
                    width: 90%;
                    font-size: 1.3rem;
                    
                }
                @media screen and (min-width: $tablet-screen) {
                    font-size: 1.5rem;
                    
                }
                padding: 1rem;
                text-align: center;
                font-family: $primary-font;
            }
            span{
                color: $miguel-logo-color;
            }
        }
        
    }

    
}